@model WebDevGroupProject.ViewModels.BillingViewModel
<heading>Billing Information</heading>
<div class="form-group">
    <label asp-for="CreditCardNumber" class="control-label"></label>
    <input asp-for="CreditCardNumber" class="form-control" />
    <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BillingExpiration" class="control-label"></label>
    <input asp-for="BillingExpiration" class="form-control" />
    <span asp-validation-for="BillingExpiration" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BillingCVV" class="control-label"></label>
    <input asp-for="BillingCVV" class="form-control" />
    <span asp-validation-for="BillingCVV" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BillingName" class="control-label"></label>
    <input asp-for="BillingName" class="form-control" />
    <span asp-validation-for="BillingName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BillingAddress" class="control-label"></label>
    <input asp-for="BillingAddress" class="form-control" />
    <span asp-validation-for="BillingAddress" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BillingCity" class="control-label"></label>
    <input asp-for="BillingCity" class="form-control" />
    <span asp-validation-for="BillingCity" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BillingState" class="control-label"></label>
    <input asp-for="BillingState" class="form-control" />
    <span asp-validation-for="BillingState" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BillingZip" class="control-label"></label>
    <input asp-for="BillingZip" class="form-control" />
    <span asp-validation-for="BillingZip" class="text-danger"></span>
</div>
<heading>Signature</heading>
<div class="form-group">
    <label asp-for="Signature" class="control-label"></label>
    <input asp-for="Signature" class="form-control" />
    <span asp-validation-for="Signature" class="text-danger"></span>
</div>

