@model WebDevGroupProject.ViewModels.RelationshipsViewModel

<div class="list-group">
    <label asp-for="Guardians" class="control-label"></label>
    <input asp-for="Guardians" class="form-control" />
    <span asp-validation-for="Guardians" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Siblings" class="control-label"></label>
    <input asp-for="Siblings" class="form-control" />
    <span asp-validation-for="Siblings" class="text-danger"></span>
</div>
<div>
    <label asp-for="FamilyRole" class="control-label"></label>
    <span asp-validation-for="FamilyRole" class="text-danger"></span>
    <select asp-for="FamilyRoleID" asp-items="Model.FamilyRole">
        <option value="">--Select an Answer--</option>
    </select>
</div>

