@model WebDevGroupProject.ViewModels.SpiritualBackgroundViewModel

<div class="form-group">
    <label asp-for="ChurchName" class="control-label"></label>
    <input asp-for="ChurchName" class="form-control" />
    <span asp-validation-for="ChurchName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChurchAddress" class="control-label"></label>
    <input asp-for="ChurchAddress" class="form-control" />
    <span asp-validation-for="ChurchAddress" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChurchCity" class="control-label"></label>
    <input asp-for="ChurchCity" class="form-control" />
    <span asp-validation-for="ChurchCity" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChurchState" class="control-label"></label>
    <input asp-for="ChurchState" class="form-control" />
    <span asp-validation-for="ChurchState" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChurchZip" class="control-label"></label>
    <input asp-for="ChurchZip" class="form-control" />
    <span asp-validation-for="ChurchZip" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PastorName" class="control-label"></label>
    <input asp-for="PastorName" class="form-control" />
    <span asp-validation-for="PastorName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PastorEmail" class="control-label"></label>
    <input asp-for="PastorEmail" class="form-control" />
    <span asp-validation-for="PastorEmail" class="text-danger"></span>
</div>

