@model WebDevGroupProject.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = "Create";
    ViewDataDictionary viewData = new ViewDataDictionary(Html.ViewData);
}

<h1>Application</h1>

<h4>Work through each of the sections in order to complete your application.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                  1
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>

            @*Applicant*@
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = $"Applicant";
                <partial name="_Applicant" model="Model.Applicant" view-data="viewData" />
            }

            @*Academic Record*@
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = $"AcademicRecord";
                <partial name="_AcademicRecord" model="Model.AcademicRecord" view-data="viewData" />
            }

            @*Enrollment Preferences*@
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = $"EnrollmentPreferences";
                <partial name="_EnrollmentPreferences" model="Model.EnrollmentPreferences" view-data="viewData" />
            }

            @*Spiritual Background*@
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = $"SpiritualBackground";
                <partial name="_SpiritualBackground" model="Model.SpiritualBackground" view-data="viewData" />
            }

            @*Health Record*@
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = $"HealthRecord";
                <partial name="_HealthRecord" model="Model.HealthRecord" view-data="viewData" />
            }

            @*Relationships*@
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = $"Relationship";
                <partial name="_Relationship" model="Model.Relationship" view-data="viewData" />
            }


            @*Reference*@
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = $"Reference";
                <partial name="_Reference" model="Model.Reference" view-data="viewData" />
            }

            @*Billing*@
            @{
                ViewData.TemplateInfo.HtmlFieldPrefix = $"Billing";
                <partial name="_Billing" model="Model.Billing" view-data="viewData" />
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
