@model WebDevGroupProject.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = "Create";
    ViewDataDictionary viewDataApplicant = new ViewDataDictionary(Html.ViewData);
    ViewDataDictionary viewDataAR = new ViewDataDictionary(Html.ViewData);
    ViewDataDictionary viewDataEnroll = new ViewDataDictionary(Html.ViewData);
    ViewDataDictionary viewDataSB = new ViewDataDictionary(Html.ViewData);
    ViewDataDictionary viewDataHR = new ViewDataDictionary(Html.ViewData);
    ViewDataDictionary viewDataReference = new ViewDataDictionary(Html.ViewData); 
    ViewDataDictionary viewDataRelate = new ViewDataDictionary(Html.ViewData);
    ViewDataDictionary viewDataBilling = new ViewDataDictionary(Html.ViewData);


}

<h1>Application</h1>

<h4>Work through each of the sections in order to complete your application.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>

            @*Applicant*@
            @{
                viewDataApplicant.TemplateInfo.HtmlFieldPrefix = $"Applicant";
                <partial name="_Applicant" model="Model.Applicant" view-data="viewDataApplicant" />
            }

            @*Academic Record*@
            @{
                viewDataAR.TemplateInfo.HtmlFieldPrefix = $"AcademicRecord";
                <partial name="_AcademicRecord" model="Model.AcademicRecord" view-data="viewDataAR" />
            }

            @*Enrollment Preferences*@
            @{
                viewDataEnroll.TemplateInfo.HtmlFieldPrefix = $"EnrollmentPreferences";
                <partial name="_EnrollmentPreferences" model="Model.EnrollmentPreferences" view-data="viewDataEnroll" />
            }

            @*Spiritual Background*@
            @{
                viewDataSB.TemplateInfo.HtmlFieldPrefix = $"SpiritualBackground";
                <partial name="_SpiritualBackground" model="Model.SpiritualBackground" view-data="viewDataSB" />
            }

            @*Health Record*@
            @{
                viewDataHR.TemplateInfo.HtmlFieldPrefix = $"HealthRecord";
                <partial name="_HealthRecord" model="Model.HealthRecord" view-data="viewDataHR" />
            }

            @*Relationships*@
            @{
                viewDataRelate.TemplateInfo.HtmlFieldPrefix = $"Relationship";
                <partial name="_Relationship" model="Model.Relationship" view-data="viewDataRelate" />
            }


            @*Reference*@
            @{
                viewDataReference.TemplateInfo.HtmlFieldPrefix = $"Reference";
                <partial name="_Reference" model="Model.Reference" view-data="viewDataReference" />
            }

            @*Billing*@
            @{
                viewDataBilling.TemplateInfo.HtmlFieldPrefix = $"Billing";
                <partial name="_Billing" model="Model.Billing" view-data="viewDataBilling" />
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
