@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ABC University!</h1>
</div>
<div>
    <div>
        <p>This college is awesome, you should join!</p>
    </div>
</div>
