@model WebDevGroupProject.ViewModels.BillingViewModel

@{
    ViewData["Title"] = "Billing";
}

<h1>Billing</h1>

<h4>BillingViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Billing">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingExpiration" class="control-label"></label>
                <input asp-for="BillingExpiration" class="form-control" />
                <span asp-validation-for="BillingExpiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingCVV" class="control-label"></label>
                <input asp-for="BillingCVV" class="form-control" />
                <span asp-validation-for="BillingCVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingName" class="control-label"></label>
                <input asp-for="BillingName" class="form-control" />
                <span asp-validation-for="BillingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingAddress" class="control-label"></label>
                <input asp-for="BillingAddress" class="form-control" />
                <span asp-validation-for="BillingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingCity" class="control-label"></label>
                <input asp-for="BillingCity" class="form-control" />
                <span asp-validation-for="BillingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingState" class="control-label"></label>
                <input asp-for="BillingState" class="form-control" />
                <span asp-validation-for="BillingState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingZip" class="control-label"></label>
                <input asp-for="BillingZip" class="form-control" />
                <span asp-validation-for="BillingZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Signature" class="control-label"></label>
                <input asp-for="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
