@model WebDevGroupProject.ViewModels.EnrollmentPreferencesViewModel

@{
    ViewData["Title"] = "EnrollmentPreferences";
}

<h1>EnrollmentPreferences</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EnrollmentPreferences">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PreferredMajor" class="control-label"></label>
                <input asp-for="PreferredMajor" class="form-control" />
                <span asp-validation-for="PreferredMajor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredMinor" class="control-label"></label>
                <input asp-for="PreferredMinor" class="form-control" />
                <span asp-validation-for="PreferredMinor" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="StudentType" class="control-label"></label>
                <span asp-validation-for="StudentType" class="text-danger"></span>
                <select asp-for="StudentTypeID" asp-items="Model.StudentType">
                    <option value="">--Select an Answer--</option>
                </select>
            </div>
            <div>
                <label asp-for="ResidentialStatus" class="control-label"></label>
                <span asp-validation-for="ResidentialStatus" class="text-danger"></span>
                <select asp-for="ResidentialStatusID" asp-items="Model.ResidentialStatus">
                    <option value="">--Select an Answer--</option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InterestedInHonors" /> @Html.DisplayNameFor(model => model.InterestedInHonors)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
