@model WebDevGroupProject.ViewModels.HealthRecordViewModel

@{
    ViewData["Title"] = "HealthRecord";
}

<h1>Applicant Health Record</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HealthRecord">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <h4>Insurance Information</h4>
            </div>
            <div class="form-group">
                <label asp-for="PolicyHolder" class="control-label"></label>
                <input asp-for="PolicyHolder" class="form-control" />
                <span asp-validation-for="PolicyHolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderName" class="control-label"></label>
                <input asp-for="ProviderName" class="form-control" />
                <span asp-validation-for="ProviderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <input asp-for="MemberID" class="form-control" />
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyGroupNumber" class="control-label"></label>
                <input asp-for="PolicyGroupNumber" class="form-control" />
                <span asp-validation-for="PolicyGroupNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceCardFrontPath" class="control-label"></label>
                <input asp-for="InsuranceCardFrontPath" class="form-control" />
                <span asp-validation-for="InsuranceCardFrontPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceCardBackPath" class="control-label"></label>
                <input asp-for="InsuranceCardBackPath" class="form-control" />
                <span asp-validation-for="InsuranceCardBackPath" class="text-danger"></span>
            </div>
            <div>
                <h4>Medical Information</h4>
            </div>
            <div class="form-group">
                <label asp-for="ImmunizationFilePath" class="control-label"></label>
                <input asp-for="ImmunizationFilePath" class="form-control" />
                <span asp-validation-for="ImmunizationFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicianName" class="control-label"></label>
                <input asp-for="PhysicianName" class="form-control" />
                <span asp-validation-for="PhysicianName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticeName" class="control-label"></label>
                <input asp-for="PracticeName" class="form-control" />
                <span asp-validation-for="PracticeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticePhoneNumber" class="control-label"></label>
                <input asp-for="PracticePhoneNumber" class="form-control" />
                <span asp-validation-for="PracticePhoneNumber" class="text-danger"></span>
            </div>
            <div>
                <h4>Emergency Contact</h4>
            </div>
            <div class="form-group">
                <label asp-for="ContactFirstName" class="control-label"></label>
                <input asp-for="ContactFirstName" class="form-control" />
                <span asp-validation-for="ContactFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactLastName" class="control-label"></label>
                <input asp-for="ContactLastName" class="form-control" />
                <span asp-validation-for="ContactLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmailAddress" class="control-label"></label>
                <input asp-for="ContactEmailAddress" class="form-control" />
                <span asp-validation-for="ContactEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhoneNumber" class="control-label"></label>
                <input asp-for="ContactPhoneNumber" class="form-control" />
                <span asp-validation-for="ContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactRelationship" class="control-label"></label>
                <input asp-for="ContactRelationship" class="form-control" />
                <span asp-validation-for="ContactRelationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

