
@{
    ViewData["Title"] = "Index";
}

<h1>Application:</h1>
<div>
    <p><b><a href="application/reference">Reference</a></b></p>
</div>
<div>
    <p><b><a href="application/healthrecord">Health Record</a></b></p>
</div>
<div>
    <p><b><a href="application/relationships">Relationships</a></b></p>
</div>
<div>
    <p><b><a href="application/billing">Billing</a></b></p>
</div>
<div>
    <p><b><a href="application/referencereport">Applicant Reference Report</a></b></p>
</div>
<div>
    <p><b><a href="application/applicant">Applicant</a></b></p>
</div>
<div>
    <p><b><a href="application/enrollmentpreferences">Enrollment Preferences</a></b></p>
</div>
