
@{
    ViewData["Title"] = "Reports";
}

<h1>Application Reports:</h1>
<div>
    <p><b><a href="referencereport">Reference Report</a></b></p>
</div>
<div>
    <p><b><a href="application/honorseligiblereport">Honors Eligible Report</a></b></p>
</div>

