@model WebDevGroupProject.ViewModels.SpiritualBackgroundViewModel

@{
    ViewData["Title"] = "SpiritualBackground";
}

<h1>Spiritual Background</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SpiritualBackground">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChurchName" class="control-label"></label>
                <input asp-for="ChurchName" class="form-control" />
                <span asp-validation-for="ChurchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchAddress" class="control-label"></label>
                <input asp-for="ChurchAddress" class="form-control" />
                <span asp-validation-for="ChurchAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchCity" class="control-label"></label>
                <input asp-for="ChurchCity" class="form-control" />
                <span asp-validation-for="ChurchCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchState" class="control-label"></label>
                <input asp-for="ChurchState" class="form-control" />
                <span asp-validation-for="ChurchState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchZip" class="control-label"></label>
                <input asp-for="ChurchZip" class="form-control" />
                <span asp-validation-for="ChurchZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PastorName" class="control-label"></label>
                <input asp-for="PastorName" class="form-control" />
                <span asp-validation-for="PastorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PastorEmail" class="control-label"></label>
                <input asp-for="PastorEmail" class="form-control" />
                <span asp-validation-for="PastorEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProfessionOfFaith" /> @Html.DisplayNameFor(model => model.ProfessionOfFaith)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SpiritualJourney" class="control-label"></label>
                <input asp-for="SpiritualJourney" class="form-control" />
                <span asp-validation-for="SpiritualJourney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
